<h4 class="sidebar-header">Cast List</h4>
<%= form_for @movie do |f| %>
  <input type="hidden" name="anchor" value="cast" />
  <table class="table table-condensed">
    <tr>
      <th>Actor</th>
      <th>Character Name</th>
      <th>Recurring Character</th>
      <th class="col-sm-1">Order</th>
      <th class="col-sm-1">Uncredited</th>
      <th class="col-sm-1">Delete</th>
    </tr>
    <% @movie.appearances.ranked.each do | appearance | %>
      <%= f.fields_for :appearances, appearance do | appearances_form | %>
        <tr>
          <td>
            <%= appearances_form.hidden_field :person_id, :id => 'person_id_' + appearance.id.to_s %>
            <%= appearances_form.autocomplete_field :person, autocomplete_person_name_movies_path, :id_element => '#person_id_' + appearance.id.to_s, :class => "form-control", :value => (appearance.person.name unless appearance.person.nil?) %>
          </td>
          <td><%= appearances_form.text_field :name, :class => "form-control", :placeholder => t('character.name') %></td>
          <td>
            <%= appearances_form.hidden_field :character_id, :id => 'character_id_' + appearance.id.to_s %>
            <%= appearances_form.autocomplete_field :character, autocomplete_character_name_movies_path, :id_element => '#character_id_' + appearance.id.to_s, :class => "form-control", :value => (appearance.character.name unless appearance.character.nil?) %>
          </td>
          <td><%= appearances_form.number_field :importance, :class => "form-control" %></td>
          <td class="text-center"><%= appearances_form.check_box :uncredited %></td>
          <td class="text-center"><%= appearances_form.check_box :_destroy %></td>
        </tr>
      <% end %>
    <% end %>
    
    <tr>
      <td colspan="6">
        <%= f.submit t('movie.form.save'), :class => "btn btn-primary" %>
      </td>
    </tr>
  </table>
<% end %>

<h4 class="content-header">Add New Appearance</h4>
<%= form_for(@appearance) do |f| %>
  <fieldset>
    <%= f.hidden_field :movie_id, :value => @movie.id %>
    <input type="hidden" name="anchor" value="cast" />
    
    <div class="form-group">
      <%= f.label :person, 'Actor', :class => "col-lg-2 control-label" %>
      <div class="col-sm-10">
        <%= f.hidden_field :person_id %>
        <%= f.autocomplete_field :person, autocomplete_person_name_movies_path, 
          :id_element => '#appearance_person_id', 
          :class => "form-control", 
          :value => (@appearance.person.name unless @appearance.person.nil?),
          :placeholder => "Actor" %>
        <span class="help-block"></span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :name, 'Character Name', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, :class => "form-control",
          :placeholder => "Character Name (Overridden by Recurring Character if set)" %>
        <span class="help-block"></span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :character, 'Recurring Character', :class => "col-lg-2 control-label" %>
      <div class="col-sm-10">
        <%= f.hidden_field :character_id %>
        <%= f.autocomplete_field :character, autocomplete_character_name_movies_path, 
          :id_element => '#appearance_character_id', 
          :class => "form-control", 
          :value => (@appearance.character.name unless @appearance.character.nil?),
          :placeholder => "Recurring Character Name (Optional)" %>
        <span class="help-block">
          <small>
            <%= link_to 'Add a New Recurring Character', remote_new_character_path, :remote => true %>
          </small>
        </span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :importance, 'Order', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :importance, :class => "form-control", :placeholder => "Order of Importance" %>
        <span class="help-block"></span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :uncredited, 'Uncredited', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.check_box :uncredited %>
        <span class="help-block"></span>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <%= f.submit t('movie.form.save'), :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>