<h4 class="sidebar-header">Quotes</h4>
<%= form_for @movie do |f| %>
  <input type="hidden" name="anchor" value="quotes" />
  <table class="table table-condensed">
    <tr>
      <th class="col-sm-3">Character</th>
      <th>Text</th>
      <th class="col-sm-1">Delete</th>
    </tr>
    <% @movie.quotes.each do |quote| %>
      <%= f.fields_for :quotes, quote do |quotes_form| %>
        <tr>
          <td>
            <!-- Character select, use collection from @movie.characters -->
            <%= quotes_form.select :appearance_id, options_from_collection_for_select(@movie.appearances, "id", "display", quote.appearance.id), {}, { :class => "form-control" } %>
          </td>
          <td><%= quotes_form.text_field :text, :class => "form-control", :placeholder => t('quote.text') %></td>
          <td class="text-center"><%= quotes_form.check_box :_destroy %></td>
        </tr>
      <% end %>
    <% end %>
    
    <tr>
      <td colspan="3">
        <%= f.submit t('movie.form.save'), :class => "btn btn-primary" %>
      </td>
    </tr>
  </table>
<% end %>

<h4 class="content-header">Add New Quote</h4>
<%= form_for(@quote) do |f| %>
  <fieldset>
    <%= f.hidden_field :movie_id, :value => @movie.id %>
    <input type="hidden" name="anchor" value="quotes" />
    
    <div class="form-group">
      <%= f.label :appearance, t('quote.character'), :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :appearance_id, options_from_collection_for_select(@movie.appearances, "id", "display"), {}, { :class => "form-control" } %>
        <span class="help-block"></span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :text, t('quote.text'), :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :text, :class => "form-control", :placeholder => t('quote.text') %>
        <span class="help-block"></span>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <%= f.submit t('movie.form.save'), :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
