<h4 class="content-header">Previous Versions</h4>
<table class='table'>
  <thead>
    <tr>
      <th>Index</th>
      <th>Date</th>
      <th>User</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% movie.versions.reverse.each do |version| %>
      <tr>
        <td><%= version.id %></td>
        <td><%= time_tag(version.created_at, time_ago_in_words(version.created_at)) %></td>
        <% if version.user.nil? %>
        <td>Unknown</td>
        <% else %>
        <td><%= link_to version.user.email, user_path(version.whodunnit) %></td>
        <% end %>
        <td><%= version.event.humanize %></td>
        <td><%= link_to 'Diff', diff_movie_version_path(movie, version) if version.event.humanize != "Create" %></td>
        <td><%= link_to 'Rollback', rollback_movie_version_path(movie, version), method: 'PATCH' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
