<div class="col-sm-3">
  <%= image_tag @person.promo.url, alt: @person.name, class: "img-responsive" %>
</div>
<div class="col-sm-6">
  <h2 class="person-title"><b><%= @person.name.upcase %></b>
  <% if user_signed_in? %>
    <small>
      <%= link_to t('person.form.edit'), edit_person_path, class: 'pull-right' %>  
    </small>
  <% end %>
  </h2>
  <hr/>
  
  <h4><%= t 'person.information.popular' %></h4>
  <ul class="list-inline">
    <% @person.movies.limit(6).each do | movie | %>
      <li>
        <%= render 'shared/movie_thumb', movie: movie %>
      </li>
    <% end %>
  </ul>
  
  <h4><%= t 'person.information.biography' %></h4>
  <p><%= @person.biography %></p>
  
  <h4><%= t 'person.information.filmography' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @person.characters.by_year.each do | character | %>
      <tr>
        <td class="col-md-1"><%= link_to movie_path(character.movie) do %><%= image_tag character.movie.poster.url(:thumb), alt: character.movie.title, class: "img-rounded", height: '40' %><% end %></td>
        <td class="col-md-6"><%= link_to character.movie.title, movie_path(character.movie) %></td>
        <td class="col-md-2"><%= character.movie.year %></td>
        <td class="col-md-3 text-center"><%= character.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
<div class="col-sm-3">
    <h4>QUICK INFO</h4>
    <table class="table table-hover table-condensed">
    <tr>
      <td>Born</td>
      <td class="text-right"><%= if @person.born.nil? then 'Unknown' else time_tag @person.born end  %></td>
    </tr>
    <% if @person.died.nil? %>
    <tr>
      <td>Age</td>
      <td class="text-right"><%= if @person.born.nil? then 'Unknown' else @person.age end %></td>
    </tr>
    <% else %>
    <tr>
      <td>Died</td>
      <td class="text-right"><%= time_tag @person.died %></td>
    </tr>
    <% end %>
  </table>
  
  <h4>TWITTER</h4>
  <a class="twitter-timeline" data-chrome="noheader nofooter transparent" href="https://twitter.com/CharlizeAfrica" data-widget-id="602562132866007040" height="250">Tweets by @CharlizeAfrica</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
