<div class="col-sm-3">
  <%= image_tag @person.promo.url, alt: @person.name, class: "img-responsive" %>
</div>
<div class="col-sm-6">
  <h2 class="person-title"><b><%= @person.name.upcase %></b>
  <% if user_signed_in? %>
    <small>
      <%= link_to t('person.form.edit'), edit_person_path %>  
    </small>
  <% end %>
  </h2>
  <hr/>
  
  <h4><%= t 'person.information.biography' %></h4>
  <p><%= @person.biography %></p>
  
</div>
<div class="col-sm-3">
    <h4>QUICK INFO</h4>
    <table class="table table-hover table-condensed">
    <tr>
      <td>Born</td>
      <td class="text-right"><%= if @person.born.nil? then 'Unknown' else time_tag @person.born end  %></td>
    </tr>
    <% if @person.died.nil? %>
    <tr>
      <td>Age</td>
      <td class="text-right"><%= if @person.born.nil? then 'Unknown' else @person.age end %></td>
    </tr>
    <% else %>
    <tr>
      <td>Died</td>
      <td class="text-right"><%= time_tag @person.died %></td>
    </tr>
    <% end %>
  </table>
</div>
