<div class="col-sm-3">
  <%= image_tag @person.promo.url(:large), alt: @person.name, class: "img-responsive" %>
</div>
<div class="col-sm-6 well">
  <h2 class="person-title"><b><%= @person.name.upcase %></b>
  <% if user_signed_in? %>
    <small>
      - <%= link_to t('person.form.edit'), edit_person_path %>  
    </small>
  <% end %>
  </h2>
  <hr/>
  
  <h4><%= t 'person.information.popular' %></h4>
  <ul class="list-inline">
    <% @person.movies.limit(6).each do | movie | %>
      <li class="thumb-wrap">
        <%= render 'shared/movie_thumb', movie: movie %>
      </li>
    <% end %>
  </ul>
  
  <h4><%= t 'person.information.biography' %></h4>
  <p><%= @person.biography %></p>
  
  <h4><%= t 'person.information.filmography' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @person.characters.by_year.each do | character | %>
      <tr>
        <td>
          <div class="media">
            <div class="media-left media-top">
              <%= link_to movie_path(character.movie) do %>
                <%= image_tag character.movie.poster.url(:thumb), alt: character.movie.title, class: "", height: '45' %>
              <% end %>
            </div>
            <div class="media-body">
              <%= link_to character.movie.title, movie_path(character.movie) %>
            </div>
          </div>
        </td>
        <td><%= character.movie.year %></td>
        <td class="text-center"><%= character.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
<div class="col-sm-3">
    <h4><%= t 'person.information.general' %></h4>
    <table class="table table-hover table-condensed">
    <tr>
      <td>Born</td>
      <td class="text-right"><%= if @person.born.nil? then 'Unknown' else time_tag @person.born end  %></td>
    </tr>
    <% if @person.died.nil? %>
    <tr>
      <td>Age</td>
      <td class="text-right"><%= if @person.born.nil? then 'Unknown' else @person.age end %></td>
    </tr>
    <% else %>
    <tr>
      <td>Died</td>
      <td class="text-right"><%= time_tag @person.died %></td>
    </tr>
    <% end %>
  </table>
</div>
