<% provide(:title, @person.name) %>

<div class="col-xs-12 data-header text-center">
  <h2 class="title">
    <b><%= link_to @person.name, person_path(@person) %></b>
    <% roles = (@person.appearances.any?) ? ['Actor'] : [] %>
    <% roles = (roles + @person.crews.map { |r| r.role }).uniq %>
    <% unless roles.blank? %>
    <p>
      <small class="highlight">
        <%= roles.to_sentence %>
      </small>
    </p>
    <% end %>
  </h2>
</div>
<div class="col-sm-3">
  <%= link_to person_path(@person) do %><%= image_tag @person.promo.url(:large), alt: @person.name, class: "img-responsive poster" %><% end %>
</div>
<div class="col-sm-6 person-content">
  <h4><%= t 'person.information.popular' %></h4>
  <ul class="list-inline text-center">
    <% @person.movies_or_credits.popular_credits.by_worldwide.distinct.limit(4).uniq.each do | movie | %>
      <li class="thumb-wrap-movie">
        <%= render 'shared/movie_thumb', movie: movie %>
      </li>
    <% end %>
  </ul>
  
  <h4><%= t 'person.information.biography' %></h4>
  <p><%= @person.biography.blank? ? 'Currently Unavailable' : @person.biography %></p>
  
  <% if @person.appearances.any? %>
  <h4 class="sidebar-header"><%= t 'person.information.filmography' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @person.appearances.by_year.each do | appearance | %>
      <tr class="table-data">
        <td>
          <%= render 'shared/movie_table', movie: appearance.movie %>
        </td>
        <td><%= appearance.movie.year %></td>
        <td class="text-center"><%= render 'shared/appearance', appearance: appearance %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  
  <% if @person.crews.any? %>
  <h4 class="sidebar-header"><%= t 'person.information.crews' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @person.crews.group_by(&:movie).each_pair do | movie, jobs | %>
        <tr class="table-data">
          <td>
            <div class="media">
              <div class="media-left media-top">
                <%= link_to movie_path(movie) do %>
                  <%= image_tag movie.poster.url(:thumb), alt: movie.title, class: "", height: '45' %>
                <% end %>
              </div>
              <div class="media-body">
                <%= link_to movie.title, movie_path(movie) %>
              </div>
            </div>
          </td>
          <td class="text-center">
            <% jobs.each_with_index do |job, i| %>
              <%= job.role %><%= ', ' unless i == jobs.size - 1 %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
<div class="col-sm-3">
  <h4 class="text-center sidebar-header"><%= t 'person.information.general' %></h4>
  <table class="table table-hover table-condensed">
    <tr>
      <td>Born</td>
      <td class="text-right highlight"><%= if @person.born.nil? then 'Unknown' else time_tag @person.born end  %></td>
    </tr>
    <% if @person.died.nil? %>
    <tr>
      <td>Age</td>
      <td class="text-right highlight"><%= if @person.born.nil? then 'Unknown' else @person.age end %></td>
    </tr>
    <% else %>
    <tr>
      <td>Died</td>
      <td class="text-right highlight"><%= time_tag @person.died %></td>
    </tr>
    <% end %>
  </table>
  
  <% if @person.movies.any? %>
  <h4 class="text-center sidebar-header"><%= t 'person.information.earnings' %></h4>
  <table class="table table-hover table-condensed">
    <tr>
      <td><%= t 'person.information.boxoffice_us' %></td>
      <td class="text-right highlight"><%= number_to_currency(@person.movies.popular_credits.sum(:boxoffice_us), precision: 0) %></td>
    </tr>
    <tr>
      <td><%= t 'person.information.boxoffice_foreign' %></td>
      <td class="text-right highlight"><%= number_to_currency(@person.movies.popular_credits.sum(:boxoffice_foreign), precision: 0) %></td>
    </tr>
    <tr>
      <td><%= t 'person.information.boxoffice_worldwide' %></td>
      <td class="text-right highlight"><%= number_to_currency(@person.movies.popular_credits.sum(:boxoffice_worldwide), precision: 0) %></td>
    </tr>
  </table>
  <% end %>
  
  <% if @person.production_credits.any? %>
  <h4 class="text-center sidebar-header"><%= t 'person.information.earnings_production' %></h4>
  <table class="table table-hover table-condensed">
    <tr>
      <td><%= t 'person.information.boxoffice_us' %></td>
      <td class="text-right highlight"><%= number_to_currency(@person.production_gross_us, precision: 0) %></td>
    </tr>
    <tr>
      <td><%= t 'person.information.boxoffice_foreign' %></td>
      <td class="text-right highlight"><%= number_to_currency(@person.production_gross_foreign, precision: 0) %></td>
    </tr>
    <tr>
      <td><%= t 'person.information.boxoffice_worldwide' %></td>
      <td class="text-right highlight"><%= number_to_currency(@person.production_gross_worldwide, precision: 0) %></td>
    </tr>
  </table>
  <% end %>
</div>
