<% provide(:title, @person.name) %>
<div class="col-sm-3">
  <%= image_tag @person.promo.url(:large), alt: @person.name, class: "img-responsive" %>
</div>
<div class="col-sm-6 well">
  <h2 class="person-title"><b><%= @person.name.upcase %></b>
  <% if user_signed_in? %>
    <small>
      - <%= link_to t('person.form.edit'), edit_person_path %>  
    </small>
  <% end %>
  </h2>
  <hr/>
  
  <h4><%= t 'person.information.popular' %></h4>
  <ul class="list-inline">
    <% @person.movies_or_credits.popular.limit(6).uniq.each do | movie | %>
      <li class="thumb-wrap">
        <%= render 'shared/movie_thumb', movie: movie %>
      </li>
    <% end %>
  </ul>
  
  <h4><%= t 'person.information.biography' %></h4>
  <p><%= @person.biography.blank? ? 'Currently Unavailable' : @person.biography %></p>
  
  <% if @person.characters.any? %>
  <h4><%= t 'person.information.filmography' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @person.characters.by_year.each do | character | %>
      <tr>
        <td>
          <div class="media">
            <div class="media-left media-top">
              <%= link_to movie_path(character.movie) do %>
                <%= image_tag character.movie.poster.url(:thumb), alt: character.movie.title, class: "", height: '45' %>
              <% end %>
            </div>
            <div class="media-body">
              <%= link_to character.movie.title, movie_path(character.movie) %>
            </div>
          </div>
        </td>
        <td><%= character.movie.year %></td>
        <td class="text-center"><%= character.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  
  <% if @person.crews.any? %>
  <h4><%= t 'person.information.crews' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @person.crews.group_by(&:movie).each_pair do | movie, jobs | %>
        <tr>
          <td>
            <div class="media">
              <div class="media-left media-top">
                <%= link_to movie_path(movie) do %>
                  <%= image_tag movie.poster.url(:thumb), alt: movie.title, class: "", height: '45' %>
                <% end %>
              </div>
              <div class="media-body">
                <%= link_to movie.title, movie_path(movie) %>
              </div>
            </div>
          </td>
          <td class="text-center">
            <% jobs.each_with_index do |job, i| %>
              <%= job.role %><%= ', ' unless i == jobs.size - 1 %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
<div class="col-sm-3">
    <h4><%= t 'person.information.general' %></h4>
    <table class="table table-hover table-condensed">
    <tr>
      <td>Born</td>
      <td class="text-right"><%= if @person.born.nil? then 'Unknown' else time_tag @person.born end  %></td>
    </tr>
    <% if @person.died.nil? %>
    <tr>
      <td>Age</td>
      <td class="text-right"><%= if @person.born.nil? then 'Unknown' else @person.age end %></td>
    </tr>
    <% else %>
    <tr>
      <td>Died</td>
      <td class="text-right"><%= time_tag @person.died %></td>
    </tr>
    <% end %>
  </table>
  
  <% if @person.movies.any? %>
  <h4><%= t 'person.information.earnings' %></h4>
  <table class="table table-hover table-condensed">
    <tr>
      <td><%= t 'person.information.boxoffice_us' %></td>
      <td class="text-right"><%= number_to_currency(@person.movies.sum(:boxoffice_us), precision: 0) %></td>
    </tr>
    <tr>
      <td><%= t 'person.information.boxoffice_foreign' %></td>
      <td class="text-right"><%= number_to_currency(@person.movies.sum(:boxoffice_foreign), precision: 0) %></td>
    </tr>
    <tr>
      <td><%= t 'person.information.boxoffice_worldwide' %></td>
      <td class="text-right"><%= number_to_currency(@person.movies.sum(:boxoffice_worldwide), precision: 0) %></td>
    </tr>
  </table>
  <% end %>
  
  <% if @person.production_credits.any? %>
  <h4><%= t 'person.information.earnings_production' %></h4>
  <table class="table table-hover table-condensed">
    <tr>
      <td><%= t 'person.information.boxoffice_us' %></td>
      <td class="text-right"><%= number_to_currency(@person.production_credits.sum(:boxoffice_us), precision: 0) %></td>
    </tr>
    <tr>
      <td><%= t 'person.information.boxoffice_foreign' %></td>
      <td class="text-right"><%= number_to_currency(@person.production_credits.sum(:boxoffice_foreign), precision: 0) %></td>
    </tr>
    <tr>
      <td><%= t 'person.information.boxoffice_worldwide' %></td>
      <td class="text-right"><%= number_to_currency(@person.production_credits.sum(:boxoffice_worldwide), precision: 0) %></td>
    </tr>
  </table>
  <% end %>
</div>
