<div class="btn-group" role="group" aria-label="V">
  <button type="button" class="btn btn-success<% if local_assigns.has_key?(:sm) %> btn-sm<% end %>" data-toggle="tooltip" data-placement="bottom" title="<%= t('movie.violence') %>"><%= t 'movie.v' %></button>
  <button type="button" class="btn btn-default<% if local_assigns.has_key?(:sm) %> btn-sm<% end %>"><strong><%= movie.avg_v %></strong></button>
</div>
<div class="btn-group" role="group" aria-label="N">
  <button type="button" class="btn btn-success<% if local_assigns.has_key?(:sm) %> btn-sm<% end %>" data-toggle="tooltip" data-placement="bottom" title="<%= t('movie.nudity') %>"><%= t 'movie.n' %></button>
  <button type="button" class="btn btn-default<% if local_assigns.has_key?(:sm) %> btn-sm<% end %>"><strong><%= movie.avg_n %></strong></button>
</div>
<div class="btn-group" role="group" aria-label="L">
  <button type="button" class="btn btn-success<% if local_assigns.has_key?(:sm) %> btn-sm<% end %>" data-toggle="tooltip" data-placement="bottom" title="<%= t('movie.language') %>"><%= t 'movie.l' %></button>
  <button type="button" class="btn btn-default<% if local_assigns.has_key?(:sm) %> btn-sm<% end %>"><strong><%= movie.avg_l %></strong></button>
</div>
<div class="btn-group" role="group" aria-label="AT">
  <button type="button" class="btn btn-success<% if local_assigns.has_key?(:sm) %> btn-sm<% end %>" data-toggle="tooltip" data-placement="bottom" title="<%= t('movie.adult') %>"><%= t 'movie.at' %></button>
  <button type="button" class="btn btn-default<% if local_assigns.has_key?(:sm) %> btn-sm<% end %>"><strong><%= movie.avg_at %></strong></button>
</div>