<div>
  <%= form_for(@movie) do |f| %>
  <fieldset>
    <legend><% if f.object.new_record? %><%= t('movie.form.new') %><% else %><%= t('movie.form.edit') %><% end%> <%= t('movie.form.resource') %></legend>
    <% if @movie.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
  
        <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= f.label :title, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :title, :autofocus => true, :class => "form-control", :placeholder => t('movie.title') %>
        <span class="help-block"></span>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :year, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.number_field :year, :class => "form-control", :placeholder => t('movie.year') %>
        <span class="help-block"></span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :poster, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= image_tag @movie.poster.url(:thumb) %>
        <%= f.file_field :poster %>  
        <span class="help-block"></span>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :director, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.hidden_field :director_id %>
        <%= f.autocomplete_field :director, autocomplete_person_name_movies_path, :id_element => '#movie_director_id', :class => "form-control", :value => (@movie.director.name unless @movie.director.nil?) %>
        <span class="help-block"></span>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label :tag_list, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
  				<%= f.text_field :tag_list, :class => "form-control", :placeholder => t('movie.tags') %>
  				<span class="help-block"></span>
      </div>
  	</div>
  	
  	<div class="form-group">
      <%= f.label :summary, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
  				<%= f.text_area :summary, :class => "form-control", :placeholder => t('movie.summary') %>
  				<span class="help-block"></span>
      </div>
  	</div>
  	
  	<div class="form-group">
      <%= f.label :boxoffice_us, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-usd fa-fw"></i></span>
  				<%= f.number_field :boxoffice_us, :class => "form-control", :placeholder => t('movie.boxoffice_us') %>
  			</div>
  			<span class="help-block"></span>
      </div>
  	</div>
  	
  	<div class="form-group">
      <%= f.label :boxoffice_foreign, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-usd fa-fw"></i></span>
  				<%= f.number_field :boxoffice_foreign, :class => "form-control", :placeholder => t('movie.boxoffice_foreign') %>
  			</div>
  			<span class="help-block"></span>
      </div>
  	</div>
  	
  	<div class="form-group">
      <%= f.label :boxoffice_worldwide, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-usd fa-fw"></i></span>
  				<%= f.number_field :boxoffice_worldwide, :class => "form-control", :placeholder => t('movie.boxoffice_worldwide') %>
  			</div>
  			<span class="help-block"></span>
      </div>
  	</div>
  
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit t('movie.form.save'), :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
  <% end %>
</div>
