<%= render 'header' %>
  <h4><%= t 'movie.attr.boxoffice' %></h4>

  <% if @movie.any_boxoffice? %>
  <div class="col-xs-12 text-center">
    <div class="col-xs-12 col-sm-4">
      <h3><strong><%= number_to_currency @movie.boxoffice_us, precision: 0 %></strong></h3>
      <p><small><%= t 'movie.boxoffice.us' %></small></p>
      <h4><strong><%= @movie.domestic_rank.ordinalize %></strong></h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><strong><%= number_to_currency @movie.boxoffice_foreign, precision: 0 %></strong></h3>
      <p><small><%= t 'movie.boxoffice.foreign' %></small></p>
      <h4><strong><%= @movie.foreign_rank.ordinalize %></strong></h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><strong><%= number_to_currency @movie.boxoffice_worldwide, precision: 0 %></strong></h3>
      <p><small><%= t 'movie.boxoffice.worldwide' %></small></p>
      <h4><strong><%= @movie.worldwide_rank.ordinalize %></strong></h4>
    </div>
  </div>
  <% else %>
    <p>No box office results are currently available.</p>
  <% end %>
  
  <% if @movie.earnings.any? %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <h4>Earnings by Day</h4>
    <div id="earnings_chart" style="height: 350px;"></div>
    
    <script type="text/javascript">
      $(function(){
        new Morris.Area({
          // ID of the element in which to draw the chart.
          element: 'earnings_chart',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: [
            <% @movie.earnings.each_with_index do |earning, index| %>
             <% if index > 0 %>, <% end %>
             { date: '<%= earning.date %>', domestic: <%= earning.domestic %>, foreign: <%= earning.foreign %> }
            <% end %>
          ],
          // The name of the data record attribute that contains x-values.
          xkey: 'date',
          // A list of names of data record attributes that contain y-values.
          ykeys: ['domestic', 'foreign'],
          // Labels for the ykeys -- will be displayed when you hover over the
          // chart.
          labels: ['Domestic', 'Foreign'],
          xLabels: 'day',
          xLabelAngle: 30,
          lineColors: ['#81652d', '#c29d52'],
          lineWidth: 1,
          preUnits: '$',
          gridTextFamily: 'Carrois Gothic',
          gridTextSize: 14,
          fillOpacity: 0.7,
          hideHover: 'auto',
          resize: true
        });
      });
    </script>
  <% end %>
</div>

<%= render 'sidebar' %>