<%= render 'header' %>

  <div class="well">
    <h4>US: <%= number_to_currency @movie.boxoffice_us, precision: 0 %> <span class="label label-success">#<%= @movie.domestic_rank %></span></h4>
  </div>
  <div class="well">
    <h4>Foreign: <%= number_to_currency @movie.boxoffice_foreign, precision: 0 %> <span class="label label-success">#<%= @movie.domestic_rank %></span></h4>
  </div>
  <div class="well">
    <h4>Worldwide: <%= number_to_currency @movie.boxoffice_worldwide, precision: 0 %> <span class="label label-success">#<%= @movie.domestic_rank %></span></h4>
  </div>

</div>