<%= render 'header', full: true %>
  <p>
  <ul id="edit_cast_tabs" class="nav nav-pills" role="tablist">
    <li class="presesntation active">
      <a href="#info" aria-controls="info" role="tab" data-toggle="tab"><%= t 'movie.attr.information' %></a>
    </li>
    <li class="presesntation">
      <a href="#cast" aria-controls="cast" role="tab" data-toggle="tab"><%= t 'movie.attr.cast' %></a>
    </li>
    <li class="presesntation">
      <a href="#crew" aria-controls="crew" role="tab" data-toggle="tab"><%= t 'movie.attr.crew' %></a>
    </li>
    <li class="presesntation">
      <a href="#trailers" aria-controls="trailers" role="tab" data-toggle="tab"><%= t 'movie.attr.trailers' %></a>
    </li>
    <li class="presesntation">
      <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab"><%= t 'movie.attr.reviews' %></a>
    </li>
    <li class="presesntation">
      <a href="#quotes" aria-controls="quotes" role="tab" data-toggle="tab"><%= t 'movie.attr.quotes' %></a>
    </li>
    <li class="pull-right">
      <%= link_to 'Add a missing person', remote_new_person_path, :remote => true, :class => "btn btn-sm btn-danger" %>
    </li>
  </ul>
  </p>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="info">
      <%= render 'form' %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="cast">
      <%= render 'movies/edit/cast' %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="crew">
      <%= render 'movies/edit/crew' %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="trailers">
      <%= render 'movies/edit/trailers' %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="reviews">
      <%= render 'movies/edit/reviews' %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="quotes">
      <%= render 'movies/edit/quotes' %>
    </div>
  </div>
  
  <div id="new-person-modal-container"></div>

</div>