<h3 class="content-header"><% if params[:genre] %><%= params[:genre] %> <%= t('movie.tag') %> <% elsif params[:q] and params[:q][:title_cont] %><%= t('movie.search') %> "<%= params[:q][:title_cont] %>"<% else %><%= t('movie.find') %><% end %></h3>

<div class="text-center">
  <ul class="movie-list list-inline">
  <% if @movies.any? %>
    <% @movies.each do |movie| %>
      <li class="thumb-wrap-movie">
        <%= render 'shared/movie_thumb', movie: movie%>
      </li>
    <% end %>
  <% else %>
    <li><p>No movies found</p></li>
  <% end %>
  </ul>
  
  <%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
</div>
