<h3><% if params[:tag] %><%= t('movie.tag') %> <%= params[:tag].upcase %><% elsif params[:q] and params[:q][:title_cont] %><%= t('movie.search') %> <%= params[:q][:title_cont].upcase %><% else %><%= t('movie.find') %><% end %></h3>

<ul class="movie-list">
<% if @movies.any? %>
<% @movies.each do |movie| %>
  <%= render 'shared/quick', movie: movie %>
<% end %>
<% else %>
<li><p>No movies found</p></li>
<% end %>
</ul>

<%= will_paginate @movies, renderer: BootstrapPagination::Rails %>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
