<div class="col-sm-3">
  <%= image_tag @movie.poster.url, alt: @movie.title, class: "img-responsive" %>
</div>
<div class="col-sm-6">
  <h2 class="movie-title"><b><%= @movie.title.upcase %></b> <small>&nbsp;<%= @movie.year %>
  <% if user_signed_in? %>
    <%= link_to t('movie.edit'), edit_movie_path, class: 'pull-right' %>
  <% end %>
  </small>
  </h2>
  <hr/>
  
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <h4><%= t 'movie.information.director' %></h4>
      <%= render 'shared/person_thumb', person: @movie.director %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <h4><%= t 'movie.information.stars' %></h4>
      <ul class="list-inline">
        <% @movie.stars.limit(6).each do | actor | %>
          <li>
            <%= render 'shared/person_thumb', person: actor %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <blockquote class="blockquote-reverse">
    <p>
      <span class="fa fa-quote-left pull-left fa-lg"></span>
      Oh what a day, what a lovely day!
    </p>
    <footer>Nux</footer>
  </blockquote>
  
  <h4><%= t 'movie.information.summary' %></h4>
  <p><%= @movie.summary %></p>
  
  <h4><%= t 'movie.information.cast' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @movie.characters.ranked.each do | character | %>
      <tr>
        <td><%= link_to character.person.name, person_path(character.person) %></td>
        <td class="text-center"><%= character.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
<div class="col-sm-3">
  <h4><%= t 'movie.information.ratings' %>
    <% if user_signed_in? %>
      <small class='pull-right'>
      <% if current_user.rated?(@movie) %>
        <%= link_to 'EDIT', edit_movie_rating_path(@movie, @rating) %>
        <%= link_to 'DELETE', movie_rating_path(@movie, @rating), :method => :delete %>
      <% else %>
        <%= link_to 'RATE', new_movie_rating_path(@movie) %>
      <% end %>
      </small>
    <% end %>
  </h4>
  <%= render 'shared/buttons', movie: @movie %>
  
  <h4><%= t 'movie.information.boxoffice' %></h4>
  <table class="table table-hover table-condensed">
    <tr>
      <td>US</td>
      <td class="text-right"><%= number_to_currency @movie.boxoffice_us, precision: 0 %></td>
    </tr>
    <tr>
      <td>Foreign</td>
      <td class="text-right"><%= number_to_currency @movie.boxoffice_foreign, precision: 0 %></td>
    </tr>
    <tr>
      <td>Worldwide</td>
      <td class="text-right"><%= number_to_currency @movie.boxoffice_worldwide, precision: 0 %></td>
    </tr>
  </table>
  
  <h4>
    <a href="#review" aria-controls="review" role="tab" data-toggle="tab"><%= t 'movie.information.reviews' %></a>
    - 
    <a href="#trailer" aria-controls="trailer" role="tab" data-toggle="tab"><%= t 'movie.information.trailers' %></a>
  </h4>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="review">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4fk9yPZX_NM" allowfullscreen></iframe>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="trailer">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hEJnMQG9ev8" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <div class="tag-list">
    <h4><%= t 'movie.information.tags' %></h4>
    <%= raw @movie.tag_list.sort { |a,b| a <=> b }.map { |t| link_to t, tag_path(t) }.join(', ') %>
  </div>
</div>
