<%= render 'header' %>
  
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <h4><%= t 'movie.information.director' %></h4>
      <div class="thumb-wrap media-left media-top">
        <%= render 'shared/person_thumb', person: @movie.director %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10">
      <h4><%= t 'movie.information.stars' %></h4>
      <ul class="list-inline">
        <% @movie.stars.limit(6).each do | actor | %>
          <li class="thumb-wrap media-left media-top">
            <%= render 'shared/person_thumb', person: actor %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div>
    <h4><%= t 'movie.information.summary' %></h4>
    <p><%= @movie.summary.blank? ? 'Currently unavailable' : @movie.summary %></p>
  </div>
  
  <% if @movie.quotes.count > 0 %>
  <blockquote class="blockquote-reverse">
    <p>
      <span class="fa fa-quote-left pull-left fa-lg"></span>
      <%= @movie.quotes.first.text %>
    </p>
    <footer><%= @movie.quotes.first.character.name %></footer>
  </blockquote>
  <% end %>
  
  <h4><%= t 'movie.information.cast' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @movie.characters.ranked.each do | character | %>
      <tr>
        <td>
          <div class="media">
            <div class="media-left media-top">
              <%= link_to person_path(character.person) do %>
                <%= image_tag character.person.promo.url(:thumb), alt: character.person.name, class: "", height: '45' %>
              <% end %>
            </div>
            <div class="media-body">
              <%= link_to character.person.name, person_path(character.person) %>
            </div>
          </div>
        </td>
        <td class="text-center"><%= character.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<%= render 'sidebar' %>
