<%= render 'header' %>
  
  <h4><%= t 'movie.attr.stars' %></h4>
  <ul class="list-inline text-center">
    <% @movie.stars.limit(6).each do | actor | %>
      <li class="thumb-wrap media-left media-top">
        <%= render 'shared/person_thumb', person: actor %>
      </li>
    <% end %>
  </ul>

  <h4><%= t 'movie.attr.summary' %></h4>
  <p><%= @movie.summary.blank? ? 'Currently Unavailable' : @movie.summary %></p>
  
  <ul id="movie-tabs" class="list-inline" role="tablist">
    <li class="presesntation active">
      <h4><a href="#cast" aria-controls="cast" role="tab" data-toggle="tab"><%= t 'movie.attr.cast' %></a></h4>
    </li>
    <li class="presesntation">
      <h4><a href="#crew" aria-controls="crew" role="tab" data-toggle="tab"><%= t 'movie.attr.crew' %></a></h4>
    </li>
  </ul>
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="cast">
      <table class="table table-hover">
        <tbody>
          <% @movie.characters.ranked.each do | character | %>
          <tr class="table-data">
            <td class="col-sm-6">
              <%= render 'shared/person_table', person: character.person %>
            </td>
            <td class="text-center"><%= character.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>    
    </div>
    <div role="tabpanel" class="tab-pane fade" id="crew">
      <table class="table table-hover">
        <tbody>
          <% @movie.crews.group_by(&:person).each_pair do | person, roles | %>
            <tr class="table-data">
              <td class="col-sm-6">
                <div class="media">
                  <div class="media-left media-top">
                    <%= link_to person_path(person) do %>
                      <%= image_tag person.promo.url(:thumb), alt: person.name, class: "", height: '45' %>
                    <% end %>
                  </div>
                  <div class="media-body">
                    <%= link_to person.name, person_path(person) %>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <% roles.each_with_index do |role, i| %>
                  <%= role.role %><%= ', ' unless i == roles.size - 1 %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'sidebar' %>
