<%= render 'header' %>
  
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3">
      <h4><%= t 'movie.attr.director' %></h4>
      <div class="thumb-wrap media-left media-top">
        <%= render 'shared/person_thumb', person: @movie.workers.where("role = ? AND featured = ?", "Director", true).first %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9">
      <h4><%= t 'movie.attr.stars' %></h4>
      <ul class="list-inline">
        <% @movie.stars.limit(4).each do | actor | %>
          <li class="thumb-wrap media-left media-top">
            <%= render 'shared/person_thumb', person: actor %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div>
    <h4><%= t 'movie.attr.summary' %></h4>
    <p><%= @movie.summary.blank? ? 'Currently Unavailable' : @movie.summary %></p>
  </div>
  
  <% if @movie.quotes.count > 0 %>
  <blockquote class="blockquote-reverse">
    <p>
      <span class="fa fa-quote-left pull-left fa-lg"></span>
      <%= @movie.quotes.first.text %>
    </p>
    <footer><%= @movie.quotes.first.character.name %></footer>
  </blockquote>
  <% end %>
  
  <h4><%= t 'movie.attr.cast' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @movie.characters.ranked.each do | character | %>
      <tr>
        <td class="col-sm-6">
          <div class="media">
            <div class="media-left media-top">
              <%= link_to person_path(character.person) do %>
                <%= image_tag character.person.promo.url(:thumb), alt: character.person.name, class: "", height: '45' %>
              <% end %>
            </div>
            <div class="media-body">
              <%= link_to character.person.name, person_path(character.person) %>
            </div>
          </div>
        </td>
        <td class="text-center"><%= character.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <h4><%= t 'movie.attr.crew' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @movie.crews.group_by(&:person).each_pair do | person, roles | %>
        <tr>
          <td class="col-sm-6">
            <div class="media">
              <div class="media-left media-top">
                <%= link_to person_path(person) do %>
                  <%= image_tag person.promo.url(:thumb), alt: person.name, class: "", height: '45' %>
                <% end %>
              </div>
              <div class="media-body">
                <%= link_to person.name, person_path(person) %>
              </div>
            </div>
          </td>
          <td class="text-center">
            <% roles.each_with_index do |role, i| %>
              <%= role.role %><%= ', ' unless i == roles.size - 1 %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<%= render 'sidebar' %>
