<div class="col-sm-3">
  <%= image_tag @movie.poster.url, alt: @movie.title, class: "img-responsive" %>
</div>
<div class="col-sm-6">
  <h2 class="movie-title"><b><%= @movie.title.upcase %></b> <small>&nbsp;<%= @movie.year %>
  <% if user_signed_in? %>
    <%= link_to t('movie.edit'), edit_movie_path %>
  <% end %>
  </small>
  </h2>
  <hr/>
  
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <h4>DIRECTOR</h4>
      <img class="img-rounded" src="http://www3.pictures.zimbio.com/gi/George+Miller+Happy+Feet+Two+European+Premiere+_W8LkxUekaZl.jpg" height="125"><br />
      George Miller
    </div>
    <div class="col-xs-12 col-sm-10">
      <h4>STARS</h4>
      <ul class="list-inline">
        <% @movie.stars.each do | actor | %>
          <li>
            <%= link_to person_path(actor) do %><%= image_tag actor.promo.url(:thumb), alt: actor.name, class: "img-rounded", height: '125' %><% end %><br />
            <%= link_to actor.name, person_path(actor) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <blockquote class="well blockquote-reverse">
    <p>
      <span class="fa fa-quote-left pull-left fa-lg"></span>
      Oh what a day, what a lovely day!
    </p>
    <footer>Nux</footer>
  </blockquote>
  
  <h4><%= t 'movie.information.summary' %></h4>
  <p><%= @movie.summary %></p>
  
  <h4><%= t 'movie.information.cast' %></h4>
  <table class="table table-hover">
    <tbody>
      <% @movie.characters.ranked.each do | character | %>
      <tr>
        <td><%= link_to character.person.name, person_path(character.person) %></td>
        <td class="text-center"><%= character.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
<div class="col-sm-3">
  <h4>RATINGS
    <% if user_signed_in? %>
      <small>
      <% if current_user.rated?(@movie) %>
        <%= link_to 'EDIT', edit_movie_rating_path(@movie, @rating) %>
        <%= link_to 'DELETE', movie_rating_path(@movie, @rating), :method => :delete %>
      <% else %>
        <%= link_to 'RATE', new_movie_rating_path(@movie) %>
      <% end %>
      </small>
    <% end %>
  </h4>
  <%= render 'shared/buttons', movie: @movie %>
  
  <h4>BOX OFFICE</h4>
  <table class="table table-hover table-condensed">
    <tr>
      <td>US</td>
      <td class="text-right">$187,705,427</td>
    </tr>
    <tr>
      <td>Foreign</td>
      <td class="text-right">$269,935,000</td>
    </tr>
    <tr>
      <td>Worldwide</td>
      <td class="text-right">$457,640,427</td>
    </tr>
  </table>
  
  <h4>
    <a href="#review" aria-controls="review" role="tab" data-toggle="tab">REVIEW</a>
    - 
    <a href="#trailer" aria-controls="trailer" role="tab" data-toggle="tab">TRAILER</a>
  </h4>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="review">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4fk9yPZX_NM" allowfullscreen></iframe>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="trailer">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hEJnMQG9ev8" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <div class="tag-list">
    <h4>TAGS</h4>
    <%= raw @movie.tag_list.sort { |a,b| a <=> b }.map { |t| link_to t, tag_path(t) }.join(', ') %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover()
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
