<% if local_assigns.has_key?(:sm) %>
<div class="btn-group" role="group" aria-label="<%= t('movie.attr.violence') %>">
  <button type="button" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="bottom" title="<%= t('movie.attr.violence') %>"><%= t 'movie.attr.v' %></button>
  <button type="button" class="btn btn-default btn-xs"><strong><%= movie.avg_v %></strong></button>
</div>

<div class="btn-group" role="group" aria-label="<%= t('movie.attr.nudity') %>">
  <button type="button" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="bottom" title="<%= t('movie.attr.nudity') %>"><%= t 'movie.attr.n' %></button>
  <button type="button" class="btn btn-default btn-xs"><strong><%= movie.avg_n %></strong></button>
</div>

<div class="btn-group" role="group" aria-label="<%= t('movie.attr.language') %>">
  <button type="button" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="bottom" title="<%= t('movie.attr.language') %>"><%= t 'movie.attr.l' %></button>
  <button type="button" class="btn btn-default btn-xs"><strong><%= movie.avg_l %></strong></button>
</div>

<div class="btn-group" role="group" aria-label="<%= t('movie.attr.adult') %>">
  <button type="button" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="bottom" title="<%= t('movie.attr.adult') %>"><%= t 'movie.attr.at' %></button>
  <button type="button" class="btn btn-default btn-xs"><strong><%= movie.avg_at %></strong></button>
</div>
<% else %>
<table class="table table-hover table-condensed">
  <tbody>
    <tr>
      <td class="col-xs-5 col-sm-5"><%= t 'movie.violence' %></td>
      <td class="col-xs-7 col-sm-7">
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= movie.avg_v %>" aria-valuemin="0" aria-valuemax="5" style="width: <%= (movie.avg_v == 0) ? 10 : movie.avg_v * 20 %>%;">
            <%= movie.avg_v %>    
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-5 col-sm-4"><%= t 'movie.nudity' %></td>
      <td class="col-xs-7 col-sm-8">
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= movie.avg_n %>" aria-valuemin="0" aria-valuemax="5" style="width: <%= (movie.avg_n == 0) ? 10 : movie.avg_n * 20 %>%;">
            <%= movie.avg_n %>    
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-5 col-sm-4"><%= t 'movie.language' %></td>
      <td class="col-xs-7 col-sm-8">
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= movie.avg_l %>" aria-valuemin="0" aria-valuemax="5" style="width: <%= (movie.avg_l == 0) ? 10 :movie.avg_l * 20 %>%;">
            <%= movie.avg_l %>    
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-5 col-sm-4"><%= t 'movie.adult' %></td>
      <td class="col-xs-7 col-sm-8">
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= movie.avg_at %>" aria-valuemin="0" aria-valuemax="5" style="width: <%= (movie.avg_at == 0) ? 10 :movie.avg_at * 20 %>%;">
            <%= movie.avg_at %>    
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<% end %>