<% provide(:title, @character.name) %>

<div class="col-xs-12 data-header text-center">
  <h2 class="title">
    <b><%= link_to @character.name, character_path(@character) %></b>
    <% if user_signed_in? %>
      <small>- <%= link_to t('character.form.edit'), edit_character_path %></small>
    <% end %>
    <% unless @character.alias.blank? %>
    <p>
      <small class="highlight">
        <%= @character.alias %>        
      </small>
    </p>
    <% end %>
  </h2>
</div>

<div class="col-xs-12 col-sm-6">
  <h4 class="sidebar-header">Appears In</h4>
  <table class="table table-hover">
    <tbody>
      <% if @character.movies.any? %>
        <% @character.movies.by_release_desc.distinct.each do |movie| %>
          <tr class="table-data">
            <td>
              <%= render 'shared/movie_table', movie: movie%>
            </td>
            <td><%= movie.year %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>No Movies Found</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-xs-12 col-sm-6">
  <h4 class="content-header">Played By</h4>
  <ul class="list-inline text-center">
    <% @character.actors.distinct.each do | actor | %>
      <li class="thumb-wrap media-left media-top">
        <%= render 'shared/person_thumb', person: actor %>
      </li>
    <% end %>
    <% unless @character.actors.any? %>
      <li>No Actors Found</li>
    <% end %>
  </ul>
  <% if @character.quotes.any? %>
    <h4 class="content-header">Quotes</h4>
    <% @character.quotes.each do |quote| %>
      <blockquote class="blockquote">
        <p>
          "<%= quote.text %>"
        </p>
        <footer>from <%= link_to quote.movie.title, movie_path(quote.movie) %></footer>
      </blockquote>
    <% end %>
  <% end %>
</div>