<div class='row mt'>
  <div class='col-sm-12'>
    <h2><%= "Diff between Version #{@version.id} and Current Version" %></h2>
    <style><%= Diffy::CSS %></style>
    <div class='well diff'>
      <p>
        <strong>Title:</strong>
        <%= diff(@version.reify.title, @movie.title) %>
      </p>
      <p>
        <strong>Year:</strong>
        <%= diff(@version.reify.year, @movie.year) %>
      </p>
      <p>
        <strong>Summary:</strong>
        <%= diff(@version.reify.summary, @movie.summary) %>
      </p>
      <p>
        <strong>Runtime:</strong>
        <%= diff(@version.reify.runtime, @movie.runtime) %>
      </p>
      <p>
        <strong>Rating:</strong>
        <%= diff(@version.reify.mpaa, @movie.mpaa) %>
      </p>
      <p>
        <strong>Released:</strong>
        <%= diff(@version.reify.released, @movie.released) %>
      </p>
      <p>
        <strong>Box Office US:</strong>
        <%= diff(@version.reify.boxoffice_us, @movie.boxoffice_us) %>
      </p>
      <p>
        <strong>Box Office Foreign:</strong>
        <%= diff(@version.reify.boxoffice_foreign, @movie.boxoffice_foreign) %>
      </p>
      <p>
        <strong>Tag list:</strong>
        <%= diff(@version.reify.tag_list, @movie.tag_list) %>
      </p>
      <p>
        <strong>Spotify URI:</strong>
        <%= diff(@version.reify.spotify, @movie.spotify) %>
      </p>
    </div>
    <p>
    <%= "Version authored by" %> <%= @version.author_username %> <%= "on #{@version.created_at} via '#{@version.event.humanize}'." %>
    </p>
  </div>
</div>
<div class='fr'>
  <%= link_to 'Back', edit_movie_path(@movie), class: 'btn btn-danger' %>
  <%= link_to 'Rollback', rollback_movie_version_path(@movie, @version), class: 'btn btn-primary', method: 'PATCH' %>
</div>
