<h3 class="content-header"><%= @franchise.name %></h3>
<div class="text-center">
  <ul class="movie-list list-inline">
  <% if @franchise.movies.any? %>
    <% @franchise.movies.by_release_asc.each do |movie| %>
      <li class="thumb-wrap-movie">
        <%= render 'shared/movie_thumb', movie: movie%>
      </li>
    <% end %>
  <% else %>
    <li><p>No movies found</p></li>
  <% end %>
  </ul>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h4 class="sidebar-header">By Release:</h4>
    <table class="table table-hover">
      <tbody>
        <% @franchise.movies.by_release_asc.each do | movie | %>
        <tr class="table-data">
          <td>
            <%= render 'shared/movie_table', movie: movie %>
          </td>
          <td><%= movie.year %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h4 class="sidebar-header">By US Box Office:</h4>
    <table class="table table-hover">
      <tbody>
        <% @franchise.movies.by_domestic.each do | movie | %>
        <tr class="table-data">
          <td>
            <%= render 'shared/movie_table', movie: movie %>
          </td>
          <td><%= number_to_currency movie.boxoffice_us, precision: 0 %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h4 class="sidebar-header">By Worldwide Box Office:</h4>
    <table class="table table-hover">
      <tbody>
        <% @franchise.movies.by_worldwide.each do | movie | %>
        <tr class="table-data">
          <td>
            <%= render 'shared/movie_table', movie: movie %>
          </td>
          <td><%= number_to_currency movie.boxoffice_worldwide, precision: 0 %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
