<!DOCTYPE html>
<html>
<head>
  <title><%= t :brand %><% if content_for? :title %>: <%= yield :title %><% end %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top navbar-no-curves clear-bottom" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-secondary"> 
			<span class="sr-only">Menu</span>
			<span class="fa fa-bars"></span>
		</button> 
		<strong><%= link_to t('brand'), root_path, :class => "navbar-brand" %></strong>
	</div>
	<div class="navbar-collapse collapse navbar-inverse-collapse" id="navbar-secondary">
	  <ul class="nav navbar-nav">
  		<li><%= link_to movies_path do %><%= t('nav.all') %><% end %></li>
	  	<li><%= link_to about_path do %><%= t('nav.about') %><% end %></li>
		  <% if user_signed_in? %>
		    <li><%= link_to t('nav.new'), new_movie_path %></li>
		  <% end %>
    </ul>
    <div class="col-sm-3 col-md-3 nav navbar-nav">
    	<%= search_form_for @q, url: movies_path, :class => "navbar-form" do |f| %>
      <div class="input-group">
      	<%= f.search_field :title_cont, :class => "form-control input-sm", :placeholder => "Search" %>
        <div class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li><%= link_to user_path(current_user) do %><span class="fa fa-user"></span>&nbsp; <%= current_user.email %><% end %></li>
				<li><%= link_to destroy_user_session_path, method: :delete, :title => t('nav.logout') do %><span class="fa fa-sign-out"></span><% end %></li>
			<% else %>
				<li><%= link_to new_user_session_path do %><span class="fa fa-sign-in"></span><% end %></li>
			<% end %>
		</ul>
	</div>
</div>
<div class="container-fluid content">
		<div class="col-md-12 column">
			<%= yield %>
		</div>
</div>
<footer class="footer">
	<div class="container-fluid">
  	<p class="text-center">
  		<small>&copy; VNLAT.org 2014 - <%= link_to t('nav.about_normal'), about_path %></small>
  	</p>
  </div>
</div>
</body>
</html>
